.authlayout {
    height: 100vh;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .authlayout_logo {
    border-radius: 50%;
  }
  
  .authlayout_logo img {
    max-width: 150px;
  }
  
  .authlayout_actions {
    display: flex;
    justify-content: space-between;
    max-width: 370px;
    width: 100%;
    font-size: 14px;
  }
  
  .authlayout_actions p {
    cursor: pointer; 
    text-transform: capitalize;
    font-weight: 300;
    
  }
  

  