.submission-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.problem-details {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.problem-details a {
  color: #5a82a8;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.problem-details a:hover {
  color: #486a89;
  text-decoration: underline;
}

.submission-details {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.code-snippet {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.code-snippet pre {
  margin: 0;
}

h3 {
  margin-top: 0;
}

.submission-details ul {
  list-style-type: none;
  padding: 0;
}

.submission-details ul li {
  background: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.share-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.share-button:hover {
  background-color: #0056b3;
}

.share-message {
  margin-top: 10px;
  font-size: 14px;
  color: green;
  text-align: center;
}
