.homelayout {
  text-align: center;
}

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 60vh; 
  text-align: center;
  background-color: #f5f5f5;
}

.heroSection h1 {
  margin-bottom: 20px;
}

.heroSection p {
  margin-bottom: 20px;

}

.featuresSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows items to wrap in smaller screens */
  text-align: center; /* Centers the text within each feature */
  padding: 50px 20px; /* Add padding for spacing around */
  gap: 20px; /* Creates space between the flex items */
}

.feature {
  max-width: 300px; /* Maximum width of each feature */
  padding: 20px; /* Adds padding inside each feature for spacing */
  border-radius: 8px; /* Optional: Rounds the corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow */
}

.feature h2 {
  margin-bottom: 15px; /* Adds space below the heading */
}

/* Optional: Adds hover effect to each feature for interactivity */
.feature:hover {
  transform: translateY(-5px); /* Slightly raises the feature */
  transition: transform 0.3s ease-in-out; /* Smooth transition for the hover effect */
}


.start {
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* Rounded edges for button */
  background-color: #6899c8; /* Primary color for your theme */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  width:30%;
}

.start:hover {
  background-color: #5a82a8; /* Darker shade on hover */
}