.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #292B2C; /* Changed to white */
  color: #fff; /* Changed to dark gray for contrast */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar__left, .navbar__right {
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 45px; 
  cursor: pointer;
  padding: 2px;
}

.navbar__logo, .navbar__problems, .navbar__streaks, .navbar__avatar {
  margin: 0 1rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #ffffff; /* Changed to white */
  padding: 20px;
}

.navbar__mobile-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.navbar__problems, .navbar__streaks, .navbar__avatar {
  color: #fff; /* Changed to dark gray */
  cursor: pointer;
}

.navbar__problems:hover, .navbar__streaks:hover {
  text-decoration: underline; 
}

.navbar__search input {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #DDD; 
  border-radius: 20px; 
  background-color: #f8f8f8; 
  color: #333;
}

.navbar__streaks {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -100px; 
  opacity: 0;
  transition: opacity 0.3s;
}

.navbar__streaks:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.navbar__avatar img {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
}

.avatar-dropdown {
  position: absolute;
  top: 58px; 
  right: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  padding: 0.5rem 0; 
}

.avatar-dropdown ul {
  list-style: none;
}

.avatar-dropdown li {
  padding: 10px 20px;
  cursor: pointer;
  color: #333333; /* Changed to dark gray */
}

.avatar-dropdown li:hover {
  background-color: #E1E1E1; 
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
  .navbar__mobile-icon {
    display: block;
  }
}
